{% extends 'base.html' %}

{% block head %}
<h1>Recipe Finder</h1>
{% endblock %}

{% block body %}
<div class="container">
    <h3>Find recipe by type in the ingredients (seperate by ,)</h3>
    
    <!-- user search recipe by ingredients -->
    <form id="recipeForm" onsubmit="findRecipe(event); return false;">
        <label for="ingredients">Your Text:</label>
        <input type="text" id="ingredients" placeholder="Enter recipe name" required>
        <button type="submit" id="recipeFindBtn">Find Recipe</button>

        <br><br>

        <!-- recipe results: random 1 or 4 -->
        <div id="result">

        </div>
    </form>
</div>
{% endblock %}